<hr>
<div class="post_navi">
  {%- if page.previous.url -%}
  <a class="post_navi-item nav_prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Post Anterior</div><div><span>{{ page.previous.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_prev" href="{{ 'archive.html' | absolute_url }}" title="Archivo">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Archivo</div><div><span>Archivo de todas las notas anteriores</span></div>
  </a>
  {%- endif -%}
  {%- if page.next.url -%}
  <a class="post_navi-item nav_next" href="{{ page.next.url }}" title="{{ page.next.title }}">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Siguiente Post</div><div><span>{{ page.next.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_next" href="{{ 'archive.html' | absolute_url }}" title="Archivo">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Archivo</div><div><span>Archivo de todas las notas siguientes</span></div>
  </a>
  {%- endif -%}
</div>